# IntelliJ
*.iws
out
.DS_Store

# Build Artifacts
target
web/WEB-INF/classes
web/build-number.txt

# WebApp logs for functional tests
ops/deploy/sukrupa.log

# Twist / Eclipse
.metadata
bin
logs
Cache/
profiles/

# JRuby
!tools/jruby-1.6.0.RC1/bin

*.swp
