# IntelliJ
*.iws
out
.DS_Store

# Emacs
*~
\#*
# Build Artifacts
target
web/WEB-INF/classes
web/build-number.txt

# WebApp logs for functional tests
ops/deploy/sukrupa.log

# Twist / Eclipse
.metadata
bin
logs
Cache/
profiles/
reports/
certs/
src/test/twist/functional-test/reports/
src/test/twist/functional-test/src/twist.properties

src/test/resources/sahi.properties

*.swp

tools/sahi/userdata/config/browser_types.xml