#parentDetails
{
    float: left;
}

#fatherDetails
{
    float: left;
    width: 350px;
}

#fatherDetails .labelHead
{
    font-weight: bold;
    margin-bottom: 20px;
}

#fatherDetails .label
{
    width: 100px;
}

#motherDetails
{
    width: 350px;
    float:right;
}

#motherDetails .labelHead
{
    font-weight: bold;
    margin-bottom: 20px;
}

#motherDetails .label
{
    width: 100px;
}