#parentDetails
{
    float: left;
}

#fatherDetails
{
    float: left;
    width: 350px;
}

#fatherDetails, #motherDetails, #guardianDetails .labelHead
{
    font-weight: bold;
    margin-bottom: 20px;
}

#fatherDetails .label
{
    width: 100px;
}

#motherDetails
{
    width: 350px;
    float:right;
}

#motherDetails .label
{
    width: 100px;
}

#guardianDetails
{
    width: 350px;
    float:left;
}

#guardianDetails .label
{
    width: 100px;
}

.updateEntrySelect
{
    clear: both;
    position:relative;
    height: 39px;
}