.edit {
    display: none;
}
.editable .edit {
    display: table-cell;
}
.editable .display {
    display: none;
}

input.item-priority {
    width: 3em;
}

tr.fulfilled {
    background-color: #ccffcc;
}