.entry {
    padding-bottom: 2.5em;
    display: block;
}

.entry .inline-block {
    float:none;
    display: inline-block;
    vertical-align: top;
}

#basicInfo .entry .label {
    width: 190px;
}

#basicInfo .entry .value {
    width: 250px;
}

#secondaryInfo {
float: right;
}
#secondaryInfo .entry .label {
    width: 130px;
}

#secondaryInfo .entry .value {
    width: 100px;
    position: relative;
    right: 20px;
}

.entry .value.existing {
    color: green;
}

.entry .value.dropout {
    color: red;
}
