.entry {
    padding-bottom: 2.5em;
    display: block;
}

.entry .inline-block {
    float:none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 150px;
    min-height: 50px;
    overflow: visible;
}



#basicInfo .entry .label {
    width: 170px;
}

#basicInfo .entry .value {
    width: 200px;
}

#secondaryInfo {
    float: left;
    width: 250px;
}

#secondaryInfo .publicProfileView {
    display: block;
    margin-bottom: 1em;
}

#secondaryInfo .entry .label {
 
    width: 110px;
}

#secondaryInfo .entry .value {

    width: 110px;
    position: relative;
}

.entry .value.existing {

    color: green;

}

.entry .value.dropout {
    color: red;
}
