



/* FEATURE TOGGLES */

.disabledFeature {
    display:block;
}


body
{
    margin-left:auto;
    margin-right:auto;
    margin-top: auto;
    padding: 5px;
    font: 11px tahoma, verdana, arial, helvetica, sans-serif;
    background: #24333D;

    
}

#page 
{
    
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    border-top: none;
    
}
#sendToLabel, #subjectLabel {
width: 70px;
    float:left;
}

.indent 
{
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:#254965;

}

.fakelink 
{
    text-decoration: underline;
    color: #254965;
   
}



#header {
    width: 903px;
    min-height: 140px;
    background-color: #254965;

    font-family:sans-serif;
    font-weight:bold;
    font-size:18px;

    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-radius: 5px;
    border-top-left-radius: 5px;
    
    border-bottom: solid;
    border-bottom-color: #FEC700;
  
    

}

.pageheader {
    color: #ffffff;
    vertical-align: text-top;
}

.pageheader .headerImage {
    float:left;
    width:185px;
 
}

.pageheader .twoLinesTitle, .pageheader .oneLineTitle {
    float:left;
    text-align:center;
    width:700px;
}



.pageheader .twoLinesTitle {
    padding-top: 40px;
    padding-bottom: 20px;
 
}

.pageheader .oneLineTitle {
    padding-top: 50px;
    padding-bottom: 40px;
}

#sidebar {
    width: 175px;
    margin-right: -3px;
    padding-top: 0px;
    float: left;
    background: transparent;
    color: #ffffff;
    font: 14px Tahoma, serif;
    border-right:solid;
}
#sidebar ul{
   padding: 0;
    margin: 0;
}

#sidebar a {
    color:#254965;
}

#sidebar a:visited {
    color: #254965;
}

#body {
    width: 700px;
    float: left;
    min-height:297px;
    padding-left:15px;
    padding-top: 10px;
    font: 120%  tahoma, arial, helvetica;
}

#basicBody {
    width: 700px;
    float: left;
    min-height:210px;
    padding-left:15px;
    padding-top: 10px;
    font: 120%  tahoma, arial, helvetica;
}

.pageheader img {
    border: none;
    padding-top:40px;
    padding-left: 5px;
    width: 180px;
    height:50px;
}

#columns {
    min-height: 190px;
    width:903px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: white;
    float:left;
    
    -moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
   
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.clear 
{
    clear: both;
}

div.box 
{
    float: left;
    width: 300px;
    line-height: 1.25em;
    margin-bottom: 15px;

}

div.note 
{
    float: left;
    width: 300px;
    resize: vertical;
    height: 50px;
}

.spacer 
{

    margin: 15px 0 0 25px;
}

.page table td 
{

    border: 1px #000000 solid;
    padding: 4px;

}

.page table
{
    border-collapse: collapse;
    margin-left: 0;
    margin-right: auto;
    width:15;

}

.header
{

    font: 90% Tahoma, arial, helvetica, sans-serif;
    font-weight: bold;
}

.logout
{
   font-size: 14px;
   margin-right: 10px;
   position: relative;
   bottom: 10px;
   left: 850px;
   background: #f7c320;
   display: inline;
}

.logout a
{
text-decoration: none;
   font-color: white;
   font-weight: lighter;
   padding: 3px;


}
.logout a:visited {
    color: #24333D;
}

.disabled
{

    text-decoration: none;
    color: black;
}

#studentInfo
{
    width: 700px;
    margin-top: 20px;
}

.talentsLabel, .label, .label-header,  .attendeeLabel
{
    font-weight: bold;
}

.talentsLabel {
    padding-bottom: 1em;
}

.talentsList {
    padding-left: 3em;
    float: left;
}

.talentsCheckBoxes {
    border: solid;
    padding: 1em;
    border-width: 1px;
}

#basicInfo {
    float: left;
}

.updateEntry {
    clear: both;
    padding-bottom: 3em;
    position:relative;
}

.label-header {
    width: 190px;
}


.label {
    width: 190px;
    float: left;
}

.statusLabel {
    width: 112px;
    float: left;
    padding-left: 39px;
    font-weight: bold;
    height: 30px;
}

.sponsoredLabel {
    width: 80px;
    float: left;
    padding-left: 39px;
    font-weight: bold;
    height: 30px;
}
.value {
    float: left;
    width: 250px;
}

.updateValue {
    float: left;
    width: 205px;
}

.updateStatusValue {
    float: left;
    width: 140px;
}

.updateSponsoredValue {
    float: left;
    width: 140px;
}

#update {
    clear: both;
    margin-top: 50px;
}

.notes {
    clear: both;
}

.mandatory {
    color: red;
    font-weight: bold;
}

#successDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: #99CC66;
}

#confirmMessage {
    font-weight: bold;
    padding: 10px 0px 0px 10px;
    color: #003300;
}

#successImage {
    float: left;
    padding-top: 7px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.sideBarHeader
{
	margin-left:10px;
	margin-right:10px;
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: justify;
	background-color: #254965;
	color:white;

	-moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-radius: 5px;

    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

.sideBarContent
{
	border-left:solid;
	border-right: solid;
	border-bottom:solid;
	border-color: #254965;
	margin-left:10px;
	margin-right:10px;
	padding-left: 6px;
	padding-bottom: 5px;
	padding-top: 5px;

	-moz-border-radius-bottomright: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-radius: 5px;

    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;

}

li
{

	list-style: none;
 	margin-left: auto;
 	margin-right: auto;
	width:140px;
	padding-right: 10px;

}

#student
{
	padding-left: 20px;
}

#studentListPages
{
    padding-right: 20px;
}

#eventListPages
{
    float:left;
}

#eventRecord
{
	padding-left: 20px;
	padding-right: 20px;
}

.linkbutton {
  	padding:           3px 5px;
  	border-width:      0;
  	cursor:            pointer;
    color:#254965;
    background: transparent;
    text-decoration: underline;
    display: block;
    font: 14px Tahoma, serif;
    color:#254965;
}

.eventLabel {
    width: 100px;
    float: left;
    font-weight: bold;
}

.eventValue {
    float: left;
    width: 250px;
}

.eventDescription {
    margin: 15px 0px 15px 100px;
}

.eventNotes {
    margin: 15px 0px 15px 100px;
}

.noHorizontalResize
{
    resize:vertical;
}

.createValue{
    resize:none;
}

.eventInfoLeft{
    float:left;
	position:relative;
    width: 60%;
}

.eventInfoRight{
    float:left;
	position:relative;
    width: 40%;
}

.eventInfoBottom{
    width: 100%;
    clear: both;
}

.eventButtons{
    clear:both;
	float:left;
	width:100%;
	text-align:left;
}

.eventInfo .label{
    width: 110px;
}

.createEntryDateTime {
    float:left;
    position:relative;
    padding: 16px 0px 10px 0px;
    width: 50%;
}

.label.amPm {
    width: 114px;
}

.createEntry {
    padding: 2px 0px 10px 0px;
}

.createEntry .eventAddress .createValue {
width: 100px;
}

.createEntryDateTime input {
    width: 70px;
}


#endTimeAm, #endTimePm, #startTimeAm, #startTimePm {
    width: 13px;
}


.eventAddress {
    width:100%;
    float: left;
    position: relative;
}


.eventInfoRight .label{
    width:100%;
}
.createEntry input {
    width: 67%;
}

.confirmationmessage {

  color:#254965;
  font-size: 1.5em;
  text-align: center;

}

.listTable {
    width:680px;
    table-layout:fixed;
    word-wrap:break-word;
}

#attendees{
    width:93%
}

.createEvent {
	float: left;
}

#createEventForm {
	clear : both;
}

#createEventErrors {
	clear:both;
	float:left;
    color: red;
}

#errorMessages  {
	margin-top: 10px;
    color: red;

}

.errorMessage {
    color: red;
    padding: 0px 0px 0px 0px;
}

img.studentImage{
    height: 175px;
    margin-bottom: 55px;
    width:

    160px;
    border: solid 1px;
}

#updateStudent .studentImage{
    height: 17em;
    width: 13.438em;
    float: left;
    margin-bottom: 2px;
    margin-left: 40px;
    margin-top: 11px;
    text-align: center;
}

#updateStudent .studentImage .errorMessage{
    margin-left:-0.688em;
}

#updateStudent .studentImage img {
    border: solid 1px;
    width: 160px;
    height: 175px;
    margin-left: auto;
}

.informationMessage {
    margin : 20px;
    border : 4px solid #CC6666;
    background : white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border-radius: 5px;
}

.informationMessage p {
    margin :10px;
    font-size : 2em;
    text-align : center;
    color : #990000;
}

.buttonBar {
    margin : 20px;
    text-align : center;
}

.buttonBar input {
    font-size : 2em;
}

#searchCriteria{
    padding-bottom: 10px;

}

.hidden {
    display: none;
}

.dualSelectBoxButtons {
    width: 90px;
}


