body {
    margin:0;
    padding:0;
    font: 11px 'Century Gothic', verdana, arial, helvetica, sans-serif;
}
.indent {
    margin-left:10px;
    margin-top:0px;
    margin-bottom:0px;
}

.fakelink {
    text-decoration: underline;
}

#page {
    width:950px;
    margin-left: auto;
    margin-right: auto;
    border: 5px #0065a5 solid;
    border-top: none;
}

#header {
    width:950px;
    height:115px;
    background-color: #0065a5;
}

.pageheader{
    color: #ffffff;
    vertical-align: text-top;
    font: 28pt Palatino, serif;
}

#sidebar{
    width:210px;
    margin-right: 20px;
    padding-left: 10px;
    float:left;
    background: transparent;
    color: #ffffff;
    font: 16px Palatino, serif;
}
#sidebar a {
    color: #ffffff;
}
#sidebar a:visited {
    color: #ffdddd;
}
#body{
    width:700px;
    float:left;
    padding-bottom: 50px;
    font: 120% verdana, arial, helvetica, sans-serif;
}
img{
    border: none;
}
#columns{
    background: url("/images/columns-background.png") repeat-y;
    min-height: 70%;
    padding-top:25px;
}
.clear { clear: both; }

.page table td {
    border: 1px #000000 solid;
    padding: 4px;
}

.page table  {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.page table .header  {
    background-color: aqua ;
    font: 107% verdana, arial, helvetica, sans-serif;
    font-weight: bold;
}

.disabled {
    text-decoration: none;
    color: black;
}

div.box {
    float: left;
    width: 300px;
    line-height: 1.25em;
    margin-bottom:15px;
 /*   border-bottom: solid 1px;*/

}

div.note {
    float: left;
    width: 300px;
    font-size: 14px;
    resize: vertical;
    height: 50px;
}

