body {
    margin: 0;
    padding: 0;
    font: 11px 'Century Gothic', verdana, arial, helvetica, sans-serif;
}

.indent {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.fakelink {
    text-decoration: underline;
}

#page {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    border: 5px #0065a5 solid;
    border-top: none;
}

#header {
    width: 950px;
    height: 115px;
    background-color: #0065a5;
}

.pageheader {
    color: #ffffff;
    vertical-align: text-top;
    font: 28pt Palatino, serif;
}

.pageheader .headerImage {
    float:left;
    width:190px;
}

.pageheader .twoLinesTitle, .pageheader .oneLineTitle {
    float:left;
    text-align:center;
    width:760px;
}

.pageheader .twoLinesTitle {
    padding-top: 20px;
}

.pageheader .oneLineTitle {
    padding-top: 40px;
}

#sidebar {
    width: 210px;
    margin-right: 20px;
    padding-left: 10px;
    float: left;
    background: transparent;
    color: #ffffff;
    font: 16px Palatino, serif;
}

#sidebar a {
    color: #ffffff;
}

#sidebar a:visited {
    color: #ffdddd;
}

#body {
    width: 700px;
    float: left;
    padding-bottom: 50px;
    font: 120% verdana, arial, helvetica, sans-serif;
}

img {
    border: none;
}

#columns {
    background: url("/images/columns-background.png") repeat-y;
    min-height: 70%;
    padding-top: 25px;
}

.clear {
    clear: both;
}

div.box {
    float: left;
    width: 300px;
    line-height: 1.25em;
    margin-bottom: 15px;

}

div.note {
    float: left;
    width: 300px;
    resize: vertical;
    height: 50px;
}

.spacer {
    margin: 15px 0 0 25px;
}

.page table td {
    border: 1px #000000 solid;
    padding: 4px;
}

.page table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.header {
    font: 107% verdana, arial, helvetica, sans-serif;
    font-weight: bold;
}

.disabled {
    text-decoration: none;
    color: black;
}

#studentInfo {
    width: 700px;
    margin-top: 20px;
}

.talentsLabel, .label {
    font-weight: bold;
}

.talentsLabel {
    padding-bottom: 1em;
}

.talentsList {
    padding-left: 3em;
    float: left;
}

.talentsCheckBoxes {
    border: solid;
    padding: 1em;
    border-width: 1px;
}

#basicInfo {
    float: left;
}

.entry {
    clear: both;
    padding-bottom: 2.5em;
}

.updateEntry {
    clear: both;
    padding-bottom: 3em;
    position:relative;
}

.label {
    width: 190px;
    float: left;
}

.value {
    float: left;
    width: 250px;
}

.updateValue {
    float: left;
    width: 205px;
}

#update {
    clear: both;
    margin-top: 50px;
}

.notes {
    clear: both;
}

.errorMessages {
    color: red;
    font-weight: bold;
    padding: 10px 0px 10px 0px;
}

#dateErrorMessage {
    color: red;
    position:absolute;
    bottom: 0px;
}

.mandatory {
    color: red;
    font-weight: bold;
}

#successDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    background-color: #99CC66;
}

#confirmMessage {
    font-weight: bold;
    padding: 10px 0px 0px 10px;
    color: #003300;
}

#successImage {
    float: left;
    padding-top: 7px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}